<!-- Contact -->
{% if site.locale and site.locale != "" and site.locale != nil %}
</div>
<!-- Social Media -->
<div class="col-md-4">
  <ul class="list-inline social-buttons">
    {% for link in site.data.sitetext[site.locale].footer.social %}
    <li class="list-inline-item">
      {% if link.url %}
      <a href="{{ link.url }}">
        {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
      </a>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
  <!-- Social Media -->
  <div class="col-md-4">
    <ul class="list-inline social-buttons">
      {% for link in site.data.sitetext.footer.social %}
      <li class="list-inline-item">
        {% if link.url %}
        <a href="{{ link.url }}">
          {% if link.icon %}<i class="{{ link.icon }}"></i>{% endif %}
        </a>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
<!-- End Contact -->